<div class="box">
  <div class="container" style="text-align: left">
    <h1><b>Edit Profile</b></h1>
    <label for="uname">Username</label><label for="email" style="margin: 5px 235px;">Email Address</label><br>

    <input [(ngModel)]="UserData.uname" readonly style=" margin: 5px 0px;" type="text" class="form-control" id="uname"
      name="uname">
    <input [(ngModel)]="UserData.email" type="text" class="form-control" id="email" name="email"><br>

    <label for="phone">Phone Number</label><label for="dob" style="margin: 5px 200px;">Date of Birth</label><br>

    <input [(ngModel)]="UserData.phone" style=" margin: 5px 0px;" type="text" class="form-control" id="phone"
      name="phone">
    <input [(ngModel)]="UserData.dob" type="text" class="form-control" id="dob" name="dob"><br>

    <label for="pwd" style=" margin: 5px 0px;">Password</label><br>

    <input [(ngModel)]="UserData.pwd" style=" margin: 10px 0px;" type="password" class="form-control" id="pwd"
      name="pwd"><br>

    <button type="button" (click)="UpdateUserData()" class="btn btn-primary">Update</button><br>
    <button type="button" routerLink="/Profile" class="cancelbtn">Cancle</button>

    <span>
      {{msg}}
    </span>
  </div>
</div>
<div class="copyright">All Rights Reserved. Copyright © PizzaHot FoodWorks Ltd.</div>