<div style="width: 30%;">
<img src="./assets/IMGBIN_pizza-png.png" class="img-responsive" alt="DecoratorImg">
</div>
<form role="form" #myForm="ngForm" (ngSubmit)="FormValidation(myForm.value)">
<div class="box">
  <div class="imgcontainer">
      <img src="./assets/pizza_icon.png" style="height: 150px; width: 150px;" alt="PizzaHot_Icon" class="Icon">
  </div>
  <h2 style="color: rgb(124, 8, 8);"><b>Welcome to PizzaHot</b></h2>
  <div class="container" style="text-align: left">
      <label for="uname"><b>Username</b></label><br>
      <input ngModel type="text" placeholder="Enter Username" name="uname">
      <br>
      <label for="pwd"><b>Password</b></label><br>
      <input ngModel type="password" placeholder="Enter Password" name="pwd">
      <br>
      <button type="submit">Login</button><br>
      <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
      </label><br> -->
      <button type="button" routerLink="/Home" class="cancelbtn">Cancel</button><br>
      <b style="position: absolute; left: 83px;">{{msg}}</b>
  </div>
</div>
</form>
<div class="copyright">All Rights Reserved. Copyright © PizzaHot FoodWorks Ltd.</div>

