<div style="width: 30%;">
  <img src="./assets/IMGBIN_pizza-png.png" class="img-responsive" alt="DecoratorImg">
  </div>
<form #myForm="ngForm" (ngSubmit)="FormValidation(myForm)">
  <div class="box">
    <div class="imgcontainer">
        <img src="./assets/pizza_icon.png" style="height: 120px; width: 120px;" alt="PizzaHot_Icon" class="Icon">
    </div>
    <h2 style="color: rgb(124, 8, 8);"><b>Welcome to PizzaHot</b></h2>
    <div class="container" style="text-align: left">
        <label for="uname">Username</label><br>
        <input ngModel type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <label for="email">Email</label><br>
        <input ngModel type="email" placeholder="Enter Email" name="email" required>
        <br>
        <label for="phone"><b>Phone Number</b></label><br>
        <input ngModel type="number" placeholder="Enter Phone Number" name="phone" required>
        <br>
        <label for="dob"><b>Date of Birth</b></label><br>
        <input ngModel type="date" placeholder="Enter Date of Birth" name="dob" required>
        <br>
        <label for="pwd"><b>Password</b></label><br>
        <input ngModel type="password" placeholder="Enter Password" name="pwd" required>
        <br>
        <button type="submit">Sign Up</button><br>
        <button type="button" routerLink="/Home" class="cancelbtn">Cancel</button>
        <button *ngIf="num" type="button" routerLink="/Login" class="loginbtn">Go to Login</button><br>
        <label style="position: absolute; left: 150px; "><b>{{msg}}</b></label>
   </div>
  </div>
</form>
<div class="copyright">All Rights Reserved. Copyright © PizzaHot FoodWorks Ltd.</div>