body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  border: 3px solid #f1f1f1;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=password] {
  width: 355px;
  padding: 7px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background-color: rgb(78, 106, 230);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 360px;
}

button:hover {
  opacity: 0.9;
}

.cancelbtn {
  width: 175px;
  padding: 10px 18px;
  background-color: #f44336;
}

.loginbtn {
  width: auto;
  padding: 10px 18px;
  background-color: blue; 
  position: absolute;
  right: 50px;
  width: 175px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 10px;
}

span.psw {
  float: left;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }

  .cancelbtn {
      width: 300px;
  }
}

.box {
  position: absolute;
  text-align: center;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 735px;
  width: 460px;
  padding: 40px;
  padding-top: 12px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(23, 25, 26);
  border-radius: 10px;
}

.copyright
{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  color:black;
  padding: 1.4em;
  text-align: center;
}