<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/Home">PizzaHot</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/Home">Home</a>
      </li>
      <li class="active">
        <a routerLink="/AboutUs">About Us</a>
      </li>
      <li class="active">
        <a routerLink="/ContactUs">Contact Us</a>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Pizzas">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" *ngIf="!service.isLoggedIn()">
        <a routerLink="/Login">Login</a>
      </li>
      <li class="active" *ngIf="service.isLoggedIn()">
        <a routerLink="/Profile">Profile</a>
      </li>
      <li class="active" *ngIf="service.isLoggedIn()">
        <a href="#" (click)="Logout()">Logout</a>
      </li>
      <li class="active" *ngIf="!service.isLoggedIn()">
        <a routerLink="/SignUp">SignUp</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>