<div style="width: 30%;">
    <img src="./assets/IMGBIN_pizza-png.png" class="img-responsive" alt="DecoratorImg">
</div>
<form role="form" #myForm="ngForm" (ngSubmit)="FormValidation(myForm.value)">
    <div class="box">
        <div class="imgcontainer">
            <img src="./assets/icons-user-profile.png" style="height: 150px; width: 150px;" alt="PizzaHot_Icon"
                class="Icon">
        </div>
        <h2 style="color: rgb(124, 8, 8);"><b>{{this.UserProfileData.uname}}</b></h2>
        <div class="container" style="text-align: left">
            <label><b>Email Address</b></label><br>
            <div>{{this.UserProfileData.email}}</div>
            <br>
            <label><b>Phone Number</b></label><br>
            <div>+91 {{this.UserProfileData.phone}}</div>
            <br>
            <label><b>Date of Birth</b></label><br>
            <div>{{this.UserProfileData.dob}}</div>
            <br>
            <button type="submit" routerLink="/EditProfile/{{this.UserProfileData.uname}}">Edit Profile</button><br>
            <!-- <label><input type="checkbox" checked="checked" name="remember"> Remember me</label><br> -->
            <button type="button"  class="cancelbtn" routerLink="/MyOrder">My Order</button><br>
            <b style="position: absolute; left: 83px;">{{msg}}</b>
        </div>
    </div>
</form>
<div class="copyright">All Rights Reserved. Copyright © PizzaHot FoodWorks Ltd.</div>