<h1 style="text-align: center;"><b>About PizzaHot</b></h1>

<div class="box" style="left: 300px;">
    <h3>WHO WE ARE</h3>
    <p><b>There’s nothing cookie-cutter about Pizza Hut. Not our pizzas. Not our people. And definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to serve. And we don’t just clock in. Not when we can also become our best, make friends, and have fun while we’re at it. We’re the pizza company that lives life unboxed.
      We’re not for people who want to blend in: pushing boundaries is part of our heritage. We have more than 16,000 restaurants and 350,000 team members in more than 100 countries. Whether it’s the original Stuffed Crust or putting a pizza in outer space, we never stop driving ourselves to deliver hot pizzas, fast every time – anywhere you want to enjoy it.
    </b></p><br>
</div>
<div class="box" style="left: 630px;">
    <h3>WHAT WE’RE ABOUT</h3>
    <p><b> At Pizza Hut, we don’t just make pizza. We make people happy. Pizza Hut was built on the belief that pizza night should be special, and we carry that belief into everything we do. With more than 55 years of experience under our belts, we understand how to best serve our customers through tried and true service principles: We create food we’re proud to serve and deliver it fast, with a smile.
    </b></p><br>
</div>
<div class="box" style="left: 960px;">
    <h3>WHERE WE COME FROM</h3>
    <p><b>
          In 1958, two brothers borrowed $600 from their mom to open a pizza place in Wichita, Kansas. They named it Pizza Hut, because their sign only had room for eight letters. How profound!
          Soon, the restaurant grew. Why? The pizza was awesome. The service felt like home. And the customers were treated like family.
          And we’ve been delivering that same food and service ever since.
    </b></p><br>
</div>
<div class="box" style="left: 1290px;">
    <h3>FOR THE LOVE OF PIZZA SINCE 2019</h3>
    <p><b>From day one, the Carney brothers could look their customers in the eye and promise them the finest pizza in town — because they knew the farmers who grew the ingredients, and they knew those farmers cared about quality.
          Since then, our farmers have grown right alongside us, and the ingredients we use are still our highest priority. No one loves pizza more than Pizza Hut. That’s why pizza is in our name — and always will be.
    </b></p><br>
</div>
<div class="box" style="left: 1620px;">
    <h3>PIZZHOT INDIA</h3>
    <p><b>In June 1996, Pizza Hut made its foray into India with a restaurant in Bangalore and was the first international restaurant chain to pioneer this category. The restaurant brand offers an exciting menu consisting of its signature pizzas, appetizers, pastas, desserts and beverages. Its trademark dining experience has been recognized by Brand Equity to make it the ‘Most Trusted Food Service Brand’ for 11 years in a row. Pizza Hut is the most preferred pizza brand in India, given its freshest, tastiest and affordable Pizzas.</b></p>
</div>
